{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    "vue",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ]
}
