{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    "vue",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "require-context-hook",
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "~Views": "./src/views",
              "~App": "./src/app",
              "~Data": "./src/data",
              "~Styles": "./src/styles",
              "~Scripts": "./src/scripts",
              "~Assets": "./src/assets",
              "~Components": "./src/components",
            }
          }
        ]
      ],
      "presets": [["@babel/preset-env"]]
    }
  }
}
