# Distribution folders
dist/
.storybook/dist/*

# Note: keep this .gitkeep or else
# `$ start-storybook -s` will error
!.storybook/dist/.gitkeep

# jest artifacts
tests/jest/coverage/

# cypress artifacts
tests/cypress/screenshots/
tests/cypress/videos/

# backstop artifacts
tests/backstop/bitmaps_test/
tests/backstop/ci_report/
tests/backstop/html_report/

# Dependency directory
node_modules/

# Yarn Integrity file
.yarn-integrity

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Caches
.cache
.tmp
.npm

# Output of 'npm pack'
*.tgz

# OS artifacts
.DS_Store

# VSCode config
.vscode

# .env file
.env

# Lighthouse reports
*.report.html
