@include set(coordinate, map-merge(
  get(spacing),
  (
    a: auto,
    100: 100%,
    0: 0
  )
));

@include set(wrap, (
  s: rem(500),
  m: rem(900),
  l: rem(1280)
));

@include set(flex-grid, (
  12: 12
));
